## 1. 변수의 정의: 임시 기억(저장)의 공간

## 2. 변수의 특징
    - 묵시적 선언
    - 동적 바인딩
    - immutable

In [12]:
a = 10
print(a)

a = 3.14
print(a)

10
3.14

## 3.data type

* 종류 
    1. 기본 자료형
        * int
        * float
        * str(문자열)
        * bool(논리형)
        
    2. 집합 자료형
        * list
        * tuple
        * dict
        * set

---

### (1) str

In [18]:
#문자열 저장

a = 10
type(a)

a = '11'
type(a)

a = '안녕하세요'

a = """안녕하세요. 
     저는 이유성 입니다.
     안녕히 계세요"""
print(a)

안녕하세요.
     저는 이유성 입니다.
     안녕히 계세요

In [28]:
#### 특수문자 (제어 문자) : \문자(escape문자)

a = '이것은 파이썬입니다. \n\n\n열심히 공부합시다'
print(a)
type(a)

b = '현재 시간은 \t\t\t9시 입니다'
print(b)

c = "\t는 탭키의 역할이다"
print(c)

이것은 파이썬입니다.


열심히 공부합시다
현재 시간은 			9시 입니다
	는 탭키의 역할이다

In [33]:
# \를 줄바꿈의 용도로 사용

a = 10 + 2 - 3 
+ 5
print(a)

9

In [38]:
# 문자열을 연결하기

a = ' python'
b = ' is fun'
c = ' and great'

d = a, b,c
print (d)

e = a + b + c
print(e)

(' python', ' is fun', ' and great')
 python is fun and great

In [39]:
# 문자열 곱하기(반복)
print(a*3)

 python python python

In [40]:
# 문자열의 길이
print(len(a))

7

In [51]:
# 인덱싱(indexing) : 원하는 문자에 접근할 수 있는 방법 제공

a = 'life is too short. you reed python'
print(a[3])
print(a[10],a[1])
print(a[-1])
print(a[len(a)-1])

e
o i
n
n

In [58]:
# 슬라이싱(slicing) : [시작위치:끝위치]

print(a[0:6])
print(a[0:2])
print(a[:])
print(a[19:-7])

life i
li
life is too short. you reed python
you reed

In [63]:
# step : [시작위치 :끝위치: 간격]

print(a[::1])

life is too short. you reed python

In [74]:
# 수정불가

a = 'pyton'
# a[3] = 'y'

a[:3] +'h' +a[3:]

'python'

In [15]:
### 문자열 관련 함수

# count()
str1 = '이유성,토끼,다람쥐,달팽이,거북이'
print(str1)
print(len(str1))
print(str1.count('이'))
print('-------------------------------------------------')

# join()
str2 = 'abcdefg'
print(','.join(str2))
print('-------------------------------------------------')

# split()
print(str1.split(','))

# find(), index() : 검색용도
print(str1.find('이'),str1.find('북'))
print(str1.index('이'),str1.index('북'))
      
print('-------------------------------------------------')

#lstrip(), rstrip(), strip()
a = '                       python'
print(a)
print(a.strip())

a = '..python'
print(a.lstrip('.'))
print('-------------------------------------------------')

# replace(), [maketranse(), translate()]
a = "hello, world!"
print(a.replace("world","python"))

a = '일이삼사오육칠팔구'
print(a.replace("일이삼","123"))
print(a.translate(a.maketrans("일삼오","135")))

이유성,토끼,다람쥐,달팽이,거북이
18
3
-------------------------------------------------
a,b,c,d,e,f,g
-------------------------------------------------
['이유성', '토끼', '다람쥐', '달팽이', '거북이']
0 16
0 16
-------------------------------------------------
                       python
python
python
-------------------------------------------------
hello, python!
123사오육칠팔구
1이3사5육칠팔구

In [40]:
# 문자열 포매팅

# %를 이용한 방법
print('현재 온도는 18도입니다')
print('현재 온도는 %d도입니다.그리고 오늘의날씨는 %s입니다.' % (18,"맑음"))

# 나눗셈의 결과 : 3/5 = 0.6 입니다.

print('%s의 결과 : %d %c %d = %0.2f 입니다.'%("나눗셈",3,'/',5,3/5))

# format()를 이용한 방법
print('{}의 결과 : {} {} {} = {}'.format("나눗셈",3,'/',5,3/5))
print('{3:*^10}의 결과 : {0} {1} {2} = {4}'.format("나눗셈",3,'/',5,3/5))
print('{title}의 결과 : {num1} {op} {num2} = {result}'.format(num1=3,num2=5,op='/', result=3/5, title='나눗셈'))

현재 온도는 18도입니다
현재 온도는 18도입니다.그리고 오늘의날씨는 맑음입니다.
나눗셈의 결과 : 3 / 5 = 0.60 입니다.
나눗셈의 결과 : 3 / 5 = 0.6
****5*****의 결과 : 나눗셈 3 / = 0.6
나눗셈의 결과 : 3 / 5 = 0.6

(2) bool

In [61]:
print(bool(" "),bool(10),bool(0),bool(),bool(None),bool(3.14),bool(-4),bool('sk'))

a = True
print(type(a))

True True False False False True True True
<class 'bool'>

### (3) lsit
* '[]' 사용
* 임의의 객체를 순차적으로 저장하는 집합적 자료형
* 인덱스 사용
* mutable(변경 가능)

In [68]:
#a = 10 
#b = 11
#c = 12

a,b,c = 10,11,12

d = [10,11,12]
print(type(a),type(d))
print(a,d)
print(d[0],d[1],d[2])

e = ['lee',234,3.1,True]
print(e)
e[1] = 180
print(e)

<class 'int'> <class 'list'>
10 [10, 11, 12]
10 11 12
['lee', 234, 3.1, True]
['lee', 180, 3.1, True]

In [79]:
### indexing

a = [1,2,3,"가",3.14,['a','b',True],False]
print(a)
print(a[5][1],a[3])

[1, 2, 3, '가', 3.14, ['a', 'b', True], False]
b 가

In [84]:
### 복사 (얕은 복사, 깊은 복사)

a = [1,2,3,4,5]
b = a
b[0] = 10
print(a)
print(b)

print('-----------------------------------------')

a = [1,2,3,4,5]
b = a[:]

b[0] = 10
print(a)
print(b)

[10, 2, 3, 4, 5]
[10, 2, 3, 4, 5]
-----------------------------------------
[1, 2, 3, 4, 5]
[10, 2, 3, 4, 5]

In [85]:
### list 생성

a = []
print(type(a))

<class 'list'>

In [112]:
# 각 자료형 함수
a = '10'
print(type(int(a)),a)
print(type(str(a)),str(a))
print(type(float(a)),float(a))
print(type(bool(a)),bool(a))

print(type(list(a)),list(a))
print(type(list(a)),[a])
print(type(a))
print(int(a))

print('--------------------------------------')

# 초기화 방법

a = list([1,2,3])
print(a)

a = list(range(10)) #range(0, 10, 1)
print(a)

a = list(range(5,10))
print(a)

a = list(range(0,8,2))
print(a)

# 10 9 8 7 6 5 4 3 2 1 0

a = list(range(10,-1,-1))
print(a)

<class 'int'> 10
<class 'str'> 10
<class 'float'> 10.0
<class 'bool'> True
<class 'list'> ['1', '0']
<class 'list'> ['10']
<class 'str'>
10
--------------------------------------
[1, 2, 3]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[0, 2, 4, 6]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [124]:
### 연산 가능

a = [1,2,3]
b = [4,5,6]

print(a + b)
print(a * 3)
print(str(a[1]) + 'hi')
print(a[1],'hi')

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
2hi
2 hi

In [139]:
### 추가하기 : insert(), append(), extend()

a = [1,2,3]
print (a)

a.insert(0,0)
print(a)

a.append(4)
print(a)

a.extend([5])
print(a)

a.extend([6,7,8])
print(a)

a.append([9,10,11])
print(a)

[1, 2, 3]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, [9, 10, 11]]

In [164]:
### 정렬

a = [1,4,6,7,5,4]
#a.sort()
print(a)

print(sorted(a))
print(a)

a.reverse()
print(a)

[1, 4, 6, 7, 5, 4]
[1, 4, 4, 5, 6, 7]
[1, 4, 6, 7, 5, 4]
[4, 5, 7, 6, 4, 1]

In [162]:
### 제거

# 범위지정 식제
a = [1,2,5,4,6,3]
a[1:3] = []
print(a)

# 값을 찾아서 삭제
a = [1,2,5,4,6,3]
a.remove(3)
print(a)

# 위치지정 식제
del a[4]
print(a)

#전체 데이터 삭제
a = [1,2,3,4,5]
a[:] = []
print(a)

# stack (LIFO구조)
a = [1,2,3]
b = a.pop()
print(a,b)

[1, 4, 6, 3]
[1, 2, 5, 4, 6]
[1, 2, 5, 4]
[]
[1, 2] 3

In [167]:
## 검색
a = [1,2,3,4,5]
print(a.index(4))

print(2 in a)
print(9 in a)

3
True
False

#### (4) tuple

* ()사용 
* immutable

In [171]:
a = ('a','b','c','d')
print(a)
print(type(a))
print(a.count('a'))
print(a.index('c'))

('a', 'b', 'c', 'd')
<class 'tuple'>
1
2

In [181]:
b = list(a)
b[1] = 10
print(b)
a = tuple(b)
print(a)
#print(type(a))

['a', 10, 'c', 'd']
('a', 10, 'c', 'd')

In [183]:
# packing unpacking

a = 10, 20, 30
print(a)

a1, a2, a3 = a
print(a1,a2,a3)

(10, 20, 30)
10 20 30

### (5) dict (dictionary)

* 비순차적이다
* {} 사용 : {키 : 값}
* 키를 이용해서 값을 조회

In [3]:
a = {'name':'홍길동','tell':'111-1111','나이':25}
print(a)
print(type(a))

{'name': '홍길동', 'tell': '111-1111', '나이': 25}
<class 'dict'>

In [7]:
print(a['name'])

홍길동

In [10]:
print(a.keys())
print(a.values())
print(a.items())

dict_keys(['name', 'tell', '나이'])
dict_values(['홍길동', '111-1111', 25])
dict_items([('name', '홍길동'), ('tell', '111-1111'), ('나이', 25)])

In [14]:
b = a.items()
print(type(b))

c = list(a.items())
print(c)

<class 'dict_items'>
[('name', '홍길동'), ('tell', '111-1111'), ('나이', 25)]

In [15]:
# 수정

a["name"] = "이유성"
print(a)

{'name': '이유성', 'tell': '111-1111', '나이': 25}

In [19]:
# 추가
a['hobby'] = ['게임','운동']
print(a)

{'name': '이유성', 'tell': '111-1111', '나이': 25, 'hobby': ['게임', '운동']}

In [20]:
#삭제

del a['tell']
print(a)

{'name': '이유성', '나이': 25, 'hobby': ['게임', '운동']}

In [21]:
a.clear()
print(a)

{}

In [1]:
# 데이터 가져오기 : get()

a = {'name':'홍길동','tell':'111-1111','나이':25}
print(a['name'])
print(a.get('name'))

print(a.get('hobby','독서'))
print(a)

a.get('hobby','독서')
print(a)

홍길동
홍길동
독서
{'name': '홍길동', 'tell': '111-1111', '나이': 25}
{'name': '홍길동', 'tell': '111-1111', '나이': 25}

---
### (6) set

* {} 사용
* 비순차적
* 중복 불가

In [34]:
a = {1,2,3,4,2,2,2,4}
print(a)
print(type(a))
#print(a[1])

b = list(a)
print(b[0])

{1, 2, 3, 4}
<class 'set'>
1

In [37]:
# 연산

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

print(s1.union(s2))

print(s1.intersection(s2))

print(s1.difference(s2))

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}

In [48]:
### 관련 함수

s1 = {1,2,3,4,5}
# 여러 가지 추가
s1.update({7,9})
print(s1)

# 한개 추가
s1.add(11)
print(s1)

# 삭제
s1.remove(9)
print(s1)

s1.discard(10)
print(s1)

#s1.clear()
#print(s1)

{1, 2, 3, 4, 5, 7, 9}
{1, 2, 3, 4, 5, 7, 9, 11}
{1, 2, 3, 4, 5, 7, 11}
{1, 2, 3, 4, 5, 7, 11}

In [52]:
a = [1,2,3,4,4,5,2]
b = set(a)
a = list(b)
print(a)

[1, 2, 3, 4, 5]

In [53]:
a = [1,2,3,4,4,5,2]
a = list(set(a))
print(a)

[1, 2, 3, 4, 5]

## 4. Operator

    1) 산술 연산자
        * / + - % // **
        
    2) 비교 연산자
        > < >= <= == !=
        
    3) 논리 연산자
        and or not(단항, 토글)
        
    4) 대입(치환, 할당) 연산자
        = += -= /= ...
        
    ======================================
    
    5) 포함 여부 연산자
        in, not in, 
        
    6) 비트 연산자
        &(and) |(or) ^(xor) ~ << >> ...

In [56]:
### 대입 연산자

a = 1
a = 5
a = 3
print(a)

b = "1"
b += ' 5'
print(b)

3
1 5

In [72]:
### 비트 연산자

a = 2<3 and 4<5
print(a)

b = 2 < 3 & 5 > 4
print(b)

c = 7 &3
print(c)

True
False
3

In [75]:
data = 453452
key = 343453

encoding = data ^ key
print(encoding)

encoding = encoding ^key
print(encoding)

251601
453452